h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Arial", "Verdana", sans-serif;
    text-align: left;
}

h2 {
    font-weight: 500;
    font-family: "Tahoma", "Verdana", sans-serif;
    color: rgb(31, 31, 31);
}

h3 {
    font-weight: 300;
    font-family: "Tahoma", "Verdana", sans-serif;
    color: rgb(31, 31, 31);
}

p {
    font-weight: 100;
    font-family: "Verdana", sans-serif;
}

a {
    font-size: 30px;
    font-weight: 400;
    font-family: "Verdana", "Arial", sans-serif;
    text-align: center;
    color: hsl(0, 0%, 100%)
}

a:hover {
    color: rgb(145, 4, 4);
}

ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

li {
    font-weight: 400;
    font-family: "Verdana", sans-serif;
}

.main-title {
    text-align: center;
    margin: 20px;
}

.main-list {
    list-style: none;
}

.main-list li {
    font-size: 30px;
    margin: 20px;
}

.recipes-section {
    background-color: rgb(230, 184, 0);
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    border: 5px solid rgb(145, 4, 4);
    border-radius: 10px;
}
